@import "../styles/variables.scss";
.post {
  margin: 0 0 20px 0;
}
.top_box {
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  border: 1px $light-color solid;
  position: relative;
  width: 100%;
  min-height: 65%;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: center;
}
.title_box {
  color: aliceblue;
}
.icons {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: $light-color;
  border-radius: $border-radius;
  padding: 5px;
}
.header_title {
  color: $base-color;
  font-weight: bold;
}

.buttom_box {
  border-radius: 0 0 20px 20px;

  display: flex;

  background-color: #fff;

  padding: 1px 1px 1px 10px;
}
.info {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: $box-shadow;
  padding: 10px;
}
.logo {
  max-width: 100px;
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin-right: 10px;
}
.date {
  color: $base-color;
  font-size: 12px;
}
.tags {
  color: $base-color;
  font-size: 14px;
}
.views {
  color: $base-color;
  font-size: 14px;
}
.img {
  max-width: 800px;
  max-height: 800px;
}
